@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
h2{
    color: #000;
}
h3{
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: var(--white);
}
p1{
    color:var(--black);
}
.section{
    padding: 4rem;
}
.image-section{
    list-style: none;
    display: flex; 
    flex-direction: column;
    background: rgb(32,174,39);
    background: linear-gradient(10deg, rgba(32,174,39,1) 0%, rgba(32,115,26,1) 50%, rgba(0,0,0,1) 100%);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
    height: 25rem;  ;
}

.first-section{
    list-style: none;
    display: flex; 
    flex-direction: column;
    background: rgb(32,174,39);
    background: linear-gradient(10deg, rgba(32,174,39,1) 0%, rgba(32,115,26,1) 50%, rgba(0,0,0,1) 100%);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
    height: 25rem;  ;
}
.first-section div{
    width: 60%;
}

.second-section{
    list-style: none;
    display: flex; 
    flex-direction: column;
    background: rgb(32,174,39);
    background: linear-gradient(10deg, rgba(32,174,39,1) 0%, rgba(32,115,26,1) 50%, rgba(0,0,0,1) 100%);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    height: 25rem;
}
.second-section div{
    width: 50%;
}
.third-section{
    list-style: none;
    display: flex; 
    flex-direction: column;
    background: rgb(32,174,39);
    background: linear-gradient(10deg, rgba(32,174,39,1) 0%, rgba(32,115,26,1) 50%, rgba(0,0,0,1) 100%);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    height: 25rem;
}
.center-text{
    align-items: center;
}

:root{
    --green:#093d07;
    --white:#fff;
    --black: #030303;
}
body{
    color: var(--green) ;
    background-color: var(--white) ;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background-color: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.navigation.logo{
    color: #093d07;
    font-size: 1.7rem;
    font-weight: 600;

}
.logo span{
    color: var(--black);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(--black);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: var(--green);
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;

}
.menu.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--black);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--green);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--green);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--green);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: var(--green);
}
.home-img img{
    width: 100%;
}
@media (max-width: 785px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu .ativo .bar:nth-child(1){
        transform: translate(8px) rotate(45deg);
    }
    .menu .ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu .ativo .bar:nth-child(3){
        transform: translate(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu .ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home img{
        width: 125%;
    } 
    /*meu contato*/
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      label {
        display: block;
        margin-bottom: 10px;
      }
      input[type="text"], input[type="email"], input[type="tel"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
      }
      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #45a049;
      }
      .home-img1{
        width: 1px;
        height: 1px;
      }
}
